nav#heronav-c {
    display : inline-block;
    overflow : hidden;
    height : inherit;
    width : 240px;
}

nav#heronav-c ul {
    width : 100%;
    height : auto;
    list-style-type : none;
}

nav#Heronav-c ul li {
    display : block;
    width : 100%;
}

nav#heronav-c ul li button {
    display : inherit;
    background-color : transparent;
    border-style : none;
    height : auto;
    line-height : 2em;
    font-size : 1.5em;
    text-indent : 1em;
    transition : text-indent 0.4s, background-color 0.4s;
    -webkit-transition : text-indent 0.4s, background-color 0.4s;
    -moz-transition : text-indent 0.4s, background-color 0.4s;
    -o-transition : text-indent 0.4s, background-color 0.4s;
}

nav#heronav-c ul li button:hover,
nav#heronav-c ul li button:focus {
    text-indent : 2em;
    background-color : rgba(255, 255, 255, 0.9);
}

nav#heronav-c ul li.locked {
    display : none;
}

#careerwindow .contentwindow article {
    height : inherit;
    display : inline-block;
    float : right;
    width : calc(100vw - 240px);
    width : -webkit-calc(100vw - 240px);
    width : -moz-calc(100vw - 240px);
    width : -o-calc(100vw - 240px);
    opacity : 1.0;
    font-size : 2em;
    font-weight : 300;
    animation : articleshow 1.2s;
    -webkit-animation : articleshow 1.2s;
    -moz-animation : articleshow 1.2s;
    -o-animation : articleshow 1.2s;
    overflow-y : scroll;
}

#careerwindow .contentwindow article.off {
    display : none;
}

#careerwindow .contentwindow article.hide {
    opacity : 0.0;
    height : 0;
    animation : articlehide 0.8s;
    -webkit-animation : articlehide 0.8s;
    -moz-animation : articlehide 0.8s;
    -o-animation : articlehide 0.8s;
}

#careerwindow .contentwindow article .herointro {
    margin : auto;
    margin-top : 1em;
    margin-bottom : 1em;
    width : calc(100% - 4em);
    width : -webkit-calc(100% - 4em);
    width : -moz-calc(100% - 4em);
    width : -o-calc(100% - 4em);
    background-color : rgba(255, 255, 255, 0.5);
    display : block;
    height : auto;
    padding : 1em;
    box-shadow : 10px 10px 30px rgba(0, 0, 0, 0.2);
}

@keyframes articleshow {
    0% { opacity : 0.0; }
    100% { opacity : 1.0; }
}
@-webkit-keyframes articleshow {
    0% { opacity : 0.0; }
    100% { opacity : 1.0; }
}
@-moz-keyframes articleshow {
    0% { opacity : 0.0; }
    100% { opacity : 1.0; }
}
@-o-keyframes articleshow {
    0% { opacity : 0.0; }
    100% { opacity : 1.0; }
}

@keyframes articlehide {
    0% { opacity : 1.0; height : auto;}
    100% { opacity : 0.0; height : 0;}
}
@-webkit-keyframes articlehide {
    0% { opacity : 1.0; height : auto;}
    100% { opacity : 0.0; height : 0;}
}
@-moz-keyframes articlehide {
    0% { opacity : 1.0; height : auto;}
    100% { opacity : 0.0; height : 0;}
}
@-o-keyframes articlehide {
    0% { opacity : 1.0; height : auto;}
    100% { opacity : 0.0; height : 0;}
}

#careerwindow .contentwindow article .card {
    font-size : 0.7em;
    width : 25%;
    margin-left : 1.5em;
    margin-bottom : 3em;
    display : inline-block;
    box-shadow : 10px 10px 30px rgba(0, 0, 0, 0.2);
    text-align : left;
    font-weight : lighter;
}

#careerwindow .contentwindow article .card span {
    font-size : 2em;
    display : block;
    text-align : center;
    margin : auto;
}

#careerwindow .contentwindow.off {
    display : none;
}
