@font-face {
    font-family : 'title';
    src : url('../font/title.ttf');
}
/*resources*/

* {
    margin : 0;
    padding : 0;
    font-family : 'title';
}

div.ui {
    position : absolute;
    width : 100vw;
    height : 100vh;
    top : 0px;
    right : 0px;
}


div.ui .on { display : block; }
