.herobar {
    position : fixed;
    left : 0px;
    bottom : 0px;
    padding-left : 2em;
    padding-bottom : 1em;
    font-size : 1.2em;
    width : auto;
    height : auto;
}

.herobar.on{
    animation : heroinfoshow 0.8s;
    -webkit-animation : heroinfoshow 0.8s;
    -moz-animation : heroinfoshow 0.8s;
    -o-animation : heroinfoshow 0.8s;
}

.herobar span#herohp {
    margin-right : 1em;
}

.herobar span#nameinfo {
    font-size : 2em;
    font-weight : 500;
}

#herohpcd #heroablity.off {
    display : none;
}

.herobar.off {
    bottom : -5em;
}

.herobar.hide {
    bottom : -5em;
    animation : heroinfohide 0,8s;
    -webkit-animation : heroinfohide 0,8s;
    -moz-animation : heroinfohide 0,8s;
    -o-animation : heroinfohide 0,8s;
}

@keyframes heroinfoshow {
    0%  { bottom : -5em; }
    100% { bottom : 0px;}
}
@-webkit-keyframes heroinfoshow {
    0%  { bottom : -5em; }
    100% { bottom : 0px;}
}
@-moz-keyframes heroinfoshow {
    0%  { bottom : -5em; }
    100% { bottom : 0px;}
}
@-o-keyframes heroinfoshow {
    0%  { bottom : -5em; }
    100% { bottom : 0px;}
}

@keyframes heroinfohide {
    0% { bottom : 0px; }
    100% { bottom : -5em; }
}
@-webkit-keyframes heroinfohide {
    0% { bottom : 0px; }
    100% { bottom : -5em; }
}
@-moz-keyframes heroinfohide {
    0% { bottom : 0px; }
    100% { bottom : -5em; }
}
@-o-keyframes heroinfohide {
    0% { bottom : 0px; }
    100% { bottom : -5em; }
}

.msgpopout {
    text-align : right;
    position : fixed;
    width : 400px;
    background : transparent;
    height : auto;
    top : 50vh;
    right : -400px;
    font-size : 2em;
}

.msgpopout.off {
    right : -400px;
}

.msgpopout.on {
    animation : msgshow 2s;
    -webkit-animation : msgshow 2s;
    -moz-animation : msgshow 2s;
    -o-animation : msgshow 2s;
}

@keyframes msgshow {
    0% { right : -400px; }
    20% { right : 0px; }
    80% { right : 0px; }
    100% { right : -400px;}
}
@-webkit-keyframes msgshow {
    0% { right : -400px; }
    20% { right : 0px; }
    80% { right : 0px; }
    100% { right : -400px;}
}
@-moz-keyframes msgshow {
    0% { right : -400px; }
    20% { right : 0px; }
    80% { right : 0px; }
    100% { right : -400px;}
}
@-o-keyframes msgshow {
    0% { right : -400px; }
    20% { right : 0px; }
    80% { right : 0px; }
    100% { right : -400px;}
}

.ptsgain {
    text-align : right;
    padding-top : 1em;
    padding-right : 2em;
    position : fixed;
    width : auto;
    height : auto;
    background : transparent;
    top : 0px;
    font-size : 2em;
    right : 0px;
}

.ptsgain.on {
    animation : ptsshow 1.5s;
    -webkit-animation : ptsshow 1.5s;
    -moz-animation : ptsshow 1.5s;
    -o-animation : ptsshow 1.5s;
}

.ptsgain.off {
    right : -500px;
}

.ptsgain.hide {
    right : -500px;
    animation : ptshide 1.5s;
    -webkit-animation : ptshide 1.5s;
    -moz-animation : ptshide 1.5s;
    -o-animation : ptshide 1.5s;
}

@keyframes ptsshow {
    0% { right : -500px; }
    100% { right : 0px;}
}
@-webkit-keyframes ptsshow {
    0% { right : -500px; }
    100% { right : 0px;}
}
@-moz-keyframes ptsshow {
    0% { right : -500px; }
    100% { right : 0px;}
}
@-o-keyframes ptsshow {
    0% { right : -500px; }
    100% { right : 0px;}
}

@keyframes ptshide {
    0% { right : 0px; }
    100% { right : 0px; }
}
@-webkit-keyframes ptshide {
    0% { right : 0px; }
    100% { right : 0px; }
}
@-moz-keyframes ptshide {
    0% { right : 0px; }
    100% { right : 0px; }
}
@-o-keyframes ptshide {
    0% { right : 0px; }
    100% { right : 0px; }
}

.in-gamepop {
    font-size : 1em;
    padding : calc((100vh - 3em) / 4) 0;
    padding : -webkit-calc((100vh - 3em) / 4) 0;
    padding : -moz-calc((100vh - 3em) / 4) 0;
    padding : -o-calc((100vh - 3em) / 4) 0;
    position : fixed;
    width : 100vw;
    height : 100vh;
    top : 0px;
    left : 0px;
    background-color : rgba(189, 192, 186, 0.2);
}

.in-gamepop.off {
    display : none;
}

.in-gamepop.on {
    opacity : 1;
    animation : showingamepop 0.8s;
    -webkit-animation : showingamepop 0.8s;
    -moz-animation : showingamepop 0.8s;
    -o-animation : showingamepop 0.8s;
}

.in-gamepop.hide {
    opacity : 0;
    animation : hideingamepop 0.8s;
    -webkit-animation : hideingamepop 0.8s;
    -moz-animation : hideingamepop 0.8s;
    -o-animation : hideingamepop 0.8s;
}

.in-gamecb {
    position : relative;
    padding : calc((100vh - 3em) / 4) 0;
    padding : -webkit-calc((100vh - 3em) / 4) 0;
    padding : -moz-calc((100vh - 3em) / 4) 0;
    padding : -o-calc((100vh - 3em) / 4) 0;
    background-color : rgba(189, 192, 186, 0.4);
    font-size : 3em;
    text-align : center;
}

.in-gamebb {
    position : fixed;
    width : auto;
    left : 0;
    right : 0;
    bottom : 1em;
    padding : 0;
}

.in-gamebb button {
    position : relative;
    display : block;
    background-color : rgba(255, 255, 255, 0);
    border-style : none;
    margin : 0.2em auto;
    width : 10em;
    font-size : 1.5em;
    transition : background-color 0.3s;
    -webkit-transition : background-color 0.3s;
    -moz-transition : background-color 0.3s;
    -o-transition : background-color 0.3s;
}

.in-gamebb button:hover {
    background-color : rgba(255, 255, 255, 0.9);
}

@keyframes hideingamepop {
    0% { opacity : 1; }
    100% { opacity : 0; }
}
@-webkit-keyframes hideingamepop {
    0% { opacity : 1; }
    100% { opacity : 0; }
}
@-moz-keyframes hideingamepop {
    0% { opacity : 1; }
    100% { opacity : 0; }
}
@-o-keyframes hideingamepop {
    0% { opacity : 1; }
    100% { opacity : 0; }
}

@keyframes showingamepop {
    0% { opacity : 0; }
    100% { opacity : 1; }
}
@-webkit-keyframes showingamepop {
    0% { opacity : 0; }
    100% { opacity : 1; }
}
@-moz-keyframes showingamepop {
    0% { opacity : 0; }
    100% { opacity : 1; }
}@-o-keyframes showingamepop {
    0% { opacity : 0; }
    100% { opacity : 1; }
}
