.pop-out {
    position : absolute;
    width : 100vw;
    height : 100vh;
    display : block;
    background-color : rgba(189, 192, 186, 0.2);
    top : 0px;
    right : 0vw;
    animation : popout 1s;
    -webkit-animation : popout 1s;
    -moz-animation : popout 1s;
    -o-animation : popout 1s;
}

.pop-out.off {
    right : 100vw;
    animation : pullback 1s;
    -webkit-animation : pullback 1s;
    -moz-animation : pullback 1s;
    -o-animation : pullback 1s;
}

@keyframes popout {
    0% { right : 100vw; }
    100% { right : 0px; }
}
@-webkit-keyframes popout {
    0% { right : 100vw; }
    100% { right : 0px; }
}
@-moz-keyframes popout {
    0% { right : 100vw; }
    100% { right : 0px; }
}
@-o-keyframes popout {
    0% { right : 100vw; }
    100% { right : 0px; }
}

@keyframes pullback {
    0% { right : 0px; }
    100% { right : 100vw; }
}
@-webkit-keyframes pullback {
    0% { right : 0px; }
    100% { right : 100vw; }
}
@-moz-keyframes pullback {
    0% { right : 0px; }
    100% { right : 100vw; }
}
@-o-keyframes pullback {
    0% { right : 0px; }
    100% { right : 100vw; }
}

.pop-out .menubar {
    position : relative;
    width : 100%;
    height : auto;
    display : block;
}

.pop-out .menubar.off {
    display : none;
}

.pop-out .menubar.hide {
    opacity : 0.0;
    animation : hidewindow 1s;
    -webkit-animation : hidewindow 1s;
    -moz-animation : hidewindow 1s;
    -o-animation : hidewindow 1s;
}

@keyframes hidewindow {
    0% { opacity : 1.0; }
    100% { opacity : 0.0; }
}
@-webkit-keyframes hidewindow {
    0% { opacity : 1.0; }
    100% { opacity : 0.0; }
}
@-moz-keyframes hidewindow {
    0% { opacity : 1.0; }
    100% { opacity : 0.0; }
}
@-o-keyframes hidewindow {
    0% { opacity : 1.0; }
    100% { opacity : 0.0; }
}

.pop-out .menubar button {
    border-style : none;
    height : auto;
    width : 20%;
    margin-left : 80%;
    text-align : right;
    background : transparent;
    font-size : 2em;
    line-height : 2em;
}
