#start-up h1 {
    position : relative;
    font-weight : 300;
    font-size : 4em;
    display : block;
    margin-left : 20px;
    margin-top : 20px;
    animation : show 1s;
    -webkit-animation : show 1s;
    -moz-animation : show 1s;
    -o-animation : show 1s;
}

#start-up .button {
    display : block;
    border-style : none;
    background-color : rgba(255, 255, 255, 0);
    margin-left : 20px;
    margin-top : 15px;
    padding : 0.4em;
    font-size : 1.2em;
    font-weight : 400;
    transition : background-color 0.8s;
    -webkit-transition : background-color 0.8s;
    -o-transition : background-color 0.8s;
    -moz-transition : background-color 0.8s;
    transition : font-size 0.8s;
    -webkit-transition : font-size 0.8s;
    -o-transition : font-size 0.8s;
    -moz-transition : font-size 0.8s;
    transition : padding 0.8s;
    -webkit-transition : padding 0.8s;
    -o-transition : padding 0.8s;
    -moz-transition : padding 0.8s;
}
#start-up .button:hover,
#start-up .button:focus {
    font-size : 1.8em;
    padding : 0.1em;
    background-color : rgba(189, 192, 186, 0.1);
}

#start-up #startgame {
    animation : show 1.2s;
    /*-webkit-animation : show 1.2s;
    -moz-animation : show 1.2s;
    -o-animation : show 1.2s;*/
}

#start-up #preference {
    animation : show 1.4s;
    -webkit-animation : show 1.4s;
    -moz-animation : show 1.4s;
    -o-animation : show 1.4s;
}

#start-up #career {
    animation : show 1.6s;
    -webkit-animation : show 1.6s;
    -moz-animation : show 1.6s;
    -o-animation : show 1.6s;
}

#start-up #help {
    animation : show 1.8s;
    -webkit-animation : show 1.8s;
    -moz-animation : show 1.8s;
    -o-animation : show 1.8s;
}

@keyframes show {
    0% { transform : translateX(-150%); }
    100% { transform : translateX(0); }
}/*
@-webkit-keyframes show {
    0% { -webkit-transform : translateX(-150%); }
    100% { -webkit-transform : translateX(0); }
}
@-moz-keyframes show {
    0% { -moz-transform : translateX(-150%); }
    100% { -moz-transform : translateX(0); }
}
@-o-keyframes show {
    0% { -o-transform : translateX(-150%); }
    100% { -o-transform : translateX(0); }
}*/

#start-up .off {
    transform : translateX(-150%);
    -webkit-transform : translateX(-150%);
    -moz-transform : translateX(-150%);
    -o-transform : translateX(-150%);
}

#start-up #help.off {
    animation : hide 1s;
    -webkit-animation : hide 1s;
    -moz-animation : hide 1s;
    -o-animation : hide 1s;
}

#start-up #career.off {
    animation : hide 1.2s;
    -webkit-animation : hide 1.2s;
    -moz-animation : hide 1.2s;
    -o-animation : hide 1.2s;
}

#start-up #preference.off {
    animation : hide 1.4s;
    -webkit-animation : hide 1.4s;
    -moz-animation : hide 1.4s;
    -o-animation : hide 1.4s;
}

#start-up #startgame.off {
    animation : hide 1.6s;
    -webkit-animation : hide 1.6s;
    -moz-animation : hide 1.6s;
    -o-animation : hide 1.6s;
}

#start-up h1.off {
    animation : hide 1.8s;
    -webkit-animation : hide 1.8s;
    -moz-animation : hide 1.8s;
    -o-animation : hide 1.8s;
}

@keyframes hide {
    0% { transform : translateX(0); }
    100% { transform : translateX(-150%); }
}
@-webkit-keyframes hide {
    0% { -webkit-transform : translateX(0); }
    100% { -webkit-transform : translateX(-150%); }
}
@-moz-keyframes hide {
    0% { -moz-transform : translateX(0); }
    100% { -moz-transform : translateX(-150%); }
}
@-o-keyframes hide {
    0% { -o-transform : translateX(0); }
    100% { -o-transform : translateX(-150%); }
}
